.header {
  padding: 36px 0;

  @media (width <=390px) {
    padding: 20px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 72px;
    color: var(--blue-color);

    @media (width <=390px) {
      margin-bottom: 20px;
    }
  }

  &__nav {
    justify-content: center;
  }

  &__list {
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    max-width: 720px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      border-bottom: 1px solid var(--gray-color);
      width: 100%;
    }

    @media (width <=390px) {
      padding: 0 10px;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
  }

  &__btn {
    outline: none;
    border-bottom: 1px solid transparent;
    padding: 12px 20px 11px;
    font-family: monospace;
    font-size: 13px;
    transition: all .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--blue-color);
        color: var(--blue-color);
        background-color: var(--light-color);
      }

      &:focus {
        border-color: var(--blue-color);
        color: var(--blue-color);
        background-color: var(--light-color);
      }
    }

    &.active {
      border-color: var(--blue-color);
      color: var(--blue-color);
      background-color: var(--light-color);
    }

    @media (width <=685px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 15px 11px;
      text-align: center;
    }
  }
}
