.header {
  position: relative;
  padding: 36px 0;

  @media (width <=390px) {
    padding: 20px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 72px;
    color: var(--primary-color);

    @media (width <=390px) {
      margin-bottom: 20px;
    }
  }

  &__nav {
    justify-content: center;
  }

  &__list {
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    max-width: 720px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      border-bottom: 1px solid var(--border-color);
      width: 100%;
    }

    @media (width <=390px) {
      padding: 0 10px;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
  }

  &__btn {
    outline: none;
    border-bottom: 1px solid transparent;
    padding: 12px 20px 11px;
    font-family: monospace;
    font-size: 13px;
    color: var(--text-color);
    transition: all .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
        background-color: var(--primary-light-color);

        .dark-theme & {
          border-color: var(--border-color);
          color: var(--text-color);
          background-color: rgba(64, 64, 64, 0.2);
        }
      }

      &:focus {
        border-color: var(--primary-color);
        color: var(--primary-color);
        background-color: var(--primary-light-color);

        .dark-theme & {
          border-color: var(--border-color);
          color: var(--text-color);
          background-color: rgba(64, 64, 64, 0.2);
        }
      }
    }

    &.active {
      border-color: var(--primary-color);
      color: var(--primary-color);
      background-color: var(--primary-light-color);

      .dark-theme & {
        border-color: var(--border-color);
        color: var(--text-color);
        background-color: rgba(64, 64, 64, 0.2);
      }
    }

    @media (width <=685px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 15px 11px;
      text-align: center;
    }
  }

  &__btn-theme {
    position: absolute;
    right: 0;
    top: 0;
    outline: none;

    @media (any-hover: hover) {
      &:hover .theme-icon  {
        stroke: #516c9b;
      }

      .dark-theme & {
        &:hover .theme-icon {
          stroke: var(--text-color);
        }
      }
    }

    &:focus .theme-icon {
      stroke: #516c9b;

      .dark-theme & {
        stroke: var(--text-color);
      }
    }

    &:active .theme-icon {
      stroke: var(--text-color);

      .dark-theme & {
        stroke: var(--example-color);
      }
    }
  }
}

.theme-icon {
  stroke: var(--text-color);
  transition: stroke 0.3s ease;
}

.dark-theme .theme-icon {
  stroke: var(--example-color);
}
