.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--gray-color);
    width: 100%;
    max-width: 680px;
  }

  &__search-box {
    position: relative;
    align-items: center;
    margin-bottom: 3px;
    border: 2px solid var(--blue-color);
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    min-height: 64px;
    max-width: 680px;
    transition: all .2s ease;

    &.error {
      border: 2px solid var(--error-color);
    }

    &:focus-within {
      border: 2px solid var(--blue-color);
    }

    @media (width <=390px) {
      padding: 10px;
    }
  }

  &__inp {
    overflow: hidden;
    margin-right: 20px;
    outline: none;
    border: none;
    width: 100%;
    max-width: 680px;
    font-family: monospace;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.error {
      color: var(--error-color);
    }

    @media (width <=390px) {
      overflow: hidden;
    }
  }

  &__btn-x {
    outline: none;
    width: 20px;
    height: 20px;
    transition: all .3 ease;

    @media (any-hover: hover) {
      &:hover svg {
        stroke: var(--blue-color);
      }
    }

    &:focus svg {
      stroke: var(--blue-color);
    }

    &:active svg {
      stroke: #000;
    }
  }

  &__svg-allert {
    display: none;
    width: 17px;
    height: 18px;
    fill: var(--error-color);
  }

  &__btn-error {
    position: absolute;
    right: -30px;
    top: 22px;
    display: none;
  }

  &__btn {
    margin-bottom: 36px;
    outline: none;
    border-radius: 4px;
    padding: 15px 70px;
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: all .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: #007bffd0;
      }
    }

    &:focus {
      background-color: #007bffd0;
    }

    &:active {
      background-color: var(--blue-color);
    }
  }

  &__content {
    flex-direction: column;
    width: 100%;
    max-width: 680px;
  }

  &__span {
    position: absolute;
    left: 10px;
    top: -6px;
    font-family: monospace;
    font-size: 12px;
    background-color: var(--white-color);
  }

  &__inp-content {
    overflow: hidden;
    margin-right: 20px;
    outline: none;
    border: none;
    width: 100%;
    font-family: monospace;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #007bff;
    background: none;

    @media (width <=390px) {
      margin-right: 10px;
    }
  }

  &__list {
    margin-top: 36px;
    border-radius: 4px;
    padding: 20px 0;
    width: 100%;
  }

  &__item {
    position: relative;
    align-items: center;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    padding: 10px;
    padding-top: 12px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__inp-btn {
    outline: none;
    width: 20px;
    height: 20px;

    &:hover .main__icon-copy {
      color: var(--blue-color);
      transition: all .1s ease-in-out;
    }

    &:active .main__icon-copy {
      color: var(--white-color);
      transition: all .1s ease-in-out;
    }

    &:focus-visible .main__icon-copy {
      color: var(--blue-color);
      transition: all .1s ease-in-out;
    }
  }

  &__descr {
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }

  &__error {
    display: none;
    font-size: 12px;
    color: var(--error-color);
  }

  &__example {
    margin-left: auto;
    outline: none;
    font-size: 12px;
    text-decoration: underline;
    color: rgb(92, 91, 91);
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      color: var(--blue-color);
    }

    &:focus {
      color: var(--blue-color);
    }

    &:active {
      color: rgb(92, 91, 91);
    }
  }

  &__icon-copy {
    position: relative;
    transition: all .3s ease;
  }

  &__icon-ok {
    position: absolute;
    right: 12px;
    top: 13px;
    display: none;
    width: 18px;
    height: 18px;
    transition: all .3s ease;
  }
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main__btn-error.show {
  display: block;
}
