.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: calc(100vh - 244px);

  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    max-width: 680px;
    border-bottom: 2px solid var(--gray-color);
  }

  &__inp {
    margin-bottom: 30px;
    outline: none;
    border: 2px solid var(--blue-color);
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    max-width: 680px;
    font-family: monospace;
  }

  &__btn {
    margin-bottom: 36px;
    outline: none;
    border-radius: 4px;
    padding: 15px 70px;
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: all .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: #007bffd0;
      }
    }
  }

  &__content {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
  }

  &__span {
    position: absolute;
    left: 10px;
    top: -6px;
    font-family: monospace;
    font-size: 12px;
    background-color: var(--white-color);
  }

  &__inp-content {
    outline: none;
    border: none;
    width: 100%;
    font-family: monospace;
    color: #007bff;
    background: none;
  }

  &__list {
    margin-top: 36px;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--white-color);
  }

  &__item {
    position: relative;
    align-items: center;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    padding: 10px;
    padding-top: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__inp-btn {
    width: 20px;
    height: 20px;
  }

  &__error {
    position: absolute;
    left: 50%;
    top: -100px;
    display: block;
    align-items: center;
    padding: 14px 12px;
    width: 100%;
    max-width: 640px;
    font-family: monospace;
    color: #721c24;
    background-color: #f8d7da;
    opacity: 0;
    transform: translateX(-50%);
    transition: top .2s ease-in-out, opacity .2s ease-in-out;
  }

  &__error.show {
    top: 0;
    opacity: 1;
  }

  &__error::before {
    content: "⚠️";
    margin-right: 10px;
    font-size: 20px;
  }

  &__icon-copy {
    position: relative;
    transition: all .3s ease;
  }

  &__icon-ok {
    position: absolute;
    right: 12px;
    top: 13px;
    display: none;
    width: 18px;
    height: 18px;
    transition: all .3s ease;
  }
}

// .main__error {
//   position: absolute;
//   left: 50%;
//   top: -100px; /* Сначала ошибка скрыта за пределами экрана */
//   display: block; /* Сделаем ошибку скрытой по умолчанию через opacity */
//   align-items: center;
//   padding: 14px 12px;
//   width: 100%;
//   max-width: 640px;
//   font-family: monospace;
//   color: #721c24;
//   background-color: #f8d7da;
//   transform: translateX(-50%);
//   opacity: 0; /* Скрываем ошибку */
//   transition: top .2s ease-in-out, opacity .2s ease-in-out; /* Плавно меняем позицию и opacity */
// }

// .main__error.show {
//   top: 0; /* Двигаем ошибку на место */
//   opacity: 1; /* Показываем ошибку */
// }

// .main__error::before {
//   content: "⚠️";
//   margin-right: 10px;
//   font-size: 20px;
// }
