*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-family, sans-serif);
  background-color: var(--bg-color);

  @media (width <=480px) {
    height: 100%;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @media (width <= 1152px) {
    padding: 0 24px;
  }

  @media (width <= 788px) {
    padding: 0 16px;
  }
}

.dark-theme {
  --bg-color: #1f1f1f;
  --text-color: #fff;
  --example-color: #ccc;
  --primary-color: #fff;
}
