:root {
  // base
  --font-family: "Arial", sans-serif;
  --content-width: 1290px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: #2e476f;
  --border-color: #ccc;
  --primary-light-color: #faf8f8;
  --error-color: #f20606;
  --example-color: #5c5b5b;
}
